<!-- Modal comentarios -->
<div class="modal fade" id="commentsModal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{> commentForm}}

        {{!-- ver estilos twitter --}}
        {{#each complain.comments as |comment|}}
          <div class="mb-3 border-bottom pb-3">
            <p class="card-subtitle mb-2 text-muted">{{date comment.createdAt}}</p>
            <a href="/{{comment.user.username}}">{{comment.user.username}}</a>
            <p>{{comment.text}}</p>
          </div>
        {{/each}}
      </div>

      <div class="modal-footer">
        {{> comment}}
      </div>
    </div>
  </div>
</div>