<form action="/quejas/detalle/{{complain.id}}" method="POST" class="mb-4 p-2">
  <div class="form-group">
    <textarea name="text" type="text" class="form-control" id="text" rows="3"></textarea>
  </div>

  <button type="submit" class="btn btn-primary btn-outline btn-sm float-right">Añadir Comentario</button>
</form> 

{{!-- 5dfa2bfd81d6f86594dc6b72 --}}