<form action="/quejas/detalle/{{complain.id}}" method="POST" class="pb-4 p-2">
  <div class="form-group">
    <textarea name="text" type="text" class="form-control" id="text" rows="3" placeholder="Escribe una respuesta ..." data-emojiable="true" data-emoji-input="unicode"></textarea>
  </div>

  <button type="submit" class="btn btn-primary btn-outline btn-sm float-right">Añadir Comentario</button>
</form> 