<section class="homeOpenning d-flex align-items-center text-center">
  <div class="container">
    <h2 class="display-1 text-light">Título</h2>
    <p class="lead text-light">Temporibus necessitatibus omnis impedit ab eveniet dicta tenetur similique repellendus. Reprehenderit nihil qui porro nemo natus officia voluptas nobis nam. </p>
  </div>
</section>