<!-- Image and text -->
<nav class="navbar sticky-top navbar-expand-lg">
  <a class="navbar-brand" href="/"><h1 class="h4 mb-0 font-weight-bold"><img class="" width="60px" src="https://cdn1.iconfinder.com/data/icons/people-job/100/Job-plus-42-256.png" /> Sugerencias y Quejas</h1></a>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto ml-auto mt-2 mt-lg-0 navbar-leftSide">
      <li class="nav-item active">
        <a class="nav-link" href="/sugerencias">Sugerencias</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/quejas">Quejas</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link btn btn-outline-success btn-sm" href="/quejas/crear">Iniciar Discusión</a>
      </li>
    </ul>

    <ul class="navbar-nav align-items-center navbar-rightSide">
      <!--search-->
      <!-- Button trigger modal -->
      <li class="nav-item active">
        <a data-toggle="modal" data-target="#exampleModal" class="nav-link" href="#" id="searchButton"><i class="fas fa-search"></i></a>
      </li>

      <!--user options-->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{!-- <i class="fas fa-user-circle"></i> --}}
          <img src="{{currentUser.avatar}}"/>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{{currentUser.complains}}">Mis Quejas</a>
          <a class="dropdown-item" href="#">Mis Sugerencias</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{{currentUser.username}}">Ver Perfil</a>
          <a class="dropdown-item" href="{{currentUser.username}}/edit">Ajustes</a>
          <div class="dropdown-divider"></div>
          {{!-- Logout --}}
          <form class="px-4 py-3" action="" method="POST">
            <button type="submit" class="btn btn-outline-danger">Cerrar sesión</button>
          </form>
        </div>
      </li>
    </ul>
  </div>
</nav>

{{!-- modal search partial --}}
{{> searchModal}}