<footer class="pt-4 my-md-5 pt-md-5 border-top">
  <div class="row">
    <div class="col-12 col-md">
      <img class="" width="120px" src="https://cdn1.iconfinder.com/data/icons/people-job/100/Job-plus-42-256.png" />
      {{!-- <h5 class="mb-0 font-weight-bold">Sugerencias y Quejas</h5> --}}
    </div>

    <div class="col-6 col-md">
      <h5>Sugerencias</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Lorem Ipsum</a></li>
        <li><a class="text-muted" href="#">Lorem Ipsum</a></li>
        <li><a class="text-muted" href="#">Lorem Ipsum</a></li>
        <li><a class="text-muted" href="#">Lorem Ipsum</a></li>
      </ul>
    </div>

    <div class="col-6 col-md">
      <h5>Quejas</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Lorem Ipsum</a></li>
        <li><a class="text-muted" href="#">Lorem Ipsum</a></li>
        <li><a class="text-muted" href="#">Lorem Ipsum</a></li>
        <li><a class="text-muted" href="#">Lorem Ipsum</a></li>
      </ul>
    </div>
    
    <div class="col-6 col-md">
      <h5>Lorem Ipsum</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Lorem Ipsum</a></li>
        <li><a class="text-muted" href="#">Lorem Ipsum</a></li>
        <li><a class="text-muted" href="#">Lorem Ipsum</a></li>
        <li><a class="text-muted" href="#">Lorem Ipsum</a></li>
      </ul>
    </div>
  </div>
</footer>