<div class="row">
  <div class="col-lg-8 col-md-12 col-12 order-md-2">
    {{> complain}}
  </div>

  <div class="col-lg-4 col-md-12 order-md-1">
    <div class="topSubject">
      <span class="badge badge-pill badge-light">Light</span>
      <span class="badge badge-pill badge-light">Light</span>
      <span class="badge badge-pill badge-light">Light</span>
      <span class="badge badge-pill badge-light">Light</span>
      <span class="badge badge-pill badge-light">Light</span>
      <span class="badge badge-pill badge-light">Light</span>
      <span class="badge badge-pill badge-light">Light</span>
      <span class="badge badge-pill badge-light">Light</span>
    </div>
  </div>
</div>