<div class="row">
  <div class="col-lg-8 col-md-12 col-12 order-lg-1 order-md-2">
    {{> complain}}
  </div>

  <div class="col-lg-4 col-md-12 order-lg-2 order-md-1">
    <div class="topSubject">
      <h2>Temas</h2>
      <span class="badge badge-pill badge-light">Sanidad</span>
      <span class="badge badge-pill badge-light">Animales</span>
      <span class="badge badge-pill badge-light">Eduación</span>
      <span class="badge badge-pill badge-light">Medio Ambiente</span>
      <span class="badge badge-pill badge-light">Deportes</span>
      <span class="badge badge-pill badge-light">Mujeres</span>
      <span class="badge badge-pill badge-light">Alimentación</span>
      <span class="badge badge-pill badge-light">LGBT</span>
    </div>
  </div>
</div>