<div class="row">
  <div class="col-8">
    {{> complain}}
  </div>

  <div class="col-4">
    <div class="topSubject">
      <span class="badge badge-pill badge-light">Light</span>
      <span class="badge badge-pill badge-light">Light</span>
      <span class="badge badge-pill badge-light">Light</span>
      <span class="badge badge-pill badge-light">Light</span>
      <span class="badge badge-pill badge-light">Light</span>
      <span class="badge badge-pill badge-light">Light</span>
      <span class="badge badge-pill badge-light">Light</span>
      <span class="badge badge-pill badge-light">Light</span>
    </div>
  </div>
</div>