@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800&display=swap');

/* generales ------------------------------*/
body {
  font-family: 'Montserrat', sans-serif;
}

a {
  color: #343a40;
  cursor: pointer;
}
a:hover { text-decoration: none; }

img{ max-width: 100%;}

/* forms -------------------------------*/
label { font-weight: 500; }

/*mainNav ------------------------------*/
.navbar {
  background: white;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
  border-bottom: 1px solid #dee2e6;
}
.navbar-brand{ padding: 0;}
.navbar-rightSide .fa-search { font-size: 1.4rem; }
.navbar-rightSide .fa-user-circle { font-size: 2.5rem; }
.navbar-rightSide .dropdown-toggle::after{
  display: none;
}
.navbar .avatarUser {
  max-width: 80px;
  border-radius: 80px;
}

/*login ------------------------------*/
.loginContainer {
  margin: 0 auto;
}

.loginContainer a {
  color: #08c;
  border-bottom: 1px dotted #08c;
}
.loginContainer a:hover {
  color: #212529; 
  border-bottom: 1px dotted #212529;
}

/*home ------------------------------*/
.homeOpenning {
  background: url(https://images.unsplash.com/photo-1543783207-ec64e4d95325?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80) center;
  border-radius: 0;
  background-repeat: no-repeat;
  min-height: 50vh;
  background-size: cover;
}

/* complain card ----------------------------*/
.complainCard:hover, .complainCard:hover .card-header, .complainCard:hover .card-footer {
  background: rgb(245, 248, 250);
  cursor: pointer;
}
.complainCard .card-header, .complainCard .card-footer {
  background: white;
}
.complainCard .stretched-link::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 60px;
  left: 0;
  z-index: 1;
  pointer-events: auto;
  content: "";
  background-color: transparent;
}

.complainCard .userData img, .complainHeader .userAvatar, .commentHeader .userImage img, .cardCommentModal .userImage img {
  max-width: 70px;
  border-radius: 60px;
}
.complainCard .tagSubject,
  .complainCard .tagTypeSugestion,
    .complainCard .tagTypeComplain {
      font-size: 13px;
      font-weight: 600;
}
.tagTypeSugestion {
  color: #212529;
  background-color: #ffc107;
  padding: 2px 4px;
}
.tagTypeComplain {
  color: #fff;
  background-color: #dc3545;
  padding: 2px 4px;
}

/* complain detail ----------------------------*/
.complainHeader .userAvatar { max-width: 100px; }
.complainCardDetail article img {
  width: 100%;
  margin: 0 auto;
}

/*comment modal  ----------------------------*/
.cardCommentModal {
  border-radius: 0;
  /* border-left: 0;
  border-right: 0;
  border-top: 0; */
  border: 0;
}
.cardCommentModal::after {
  content: "";
  width: 2px;
  background-color: rgb(218, 226, 232);
  min-height: 36px;
  left: 52px;
  position: inherit;
}
.cardCommentModal:last-child {
  border-bottom: none;
}

/* social color ----------------------------*/
.slack {
  background: #611f69;
  border: 2px solid #611f69;
  color: white;
}
.slack:hover {
  background: #8a2e95;
  border-color: #8a2e95;
}
.facebook {
  background: #2f55a4;
  border: 2px solid #2f55a4;
  color: white;
}
.facebook:hover {
  background: #264584;
  border-color: #264584;
}
.google {
  background: #DB4437;;
  border: 2px solid #DB4437;;
  color: white;
}
.google:hover {
  background: #c03b30;
  border-color: #c03b30;
}

.slack:hover, .facebook:hover, .google:hover {  color: white; }

/* responsive ----------------------------*/
/* xl */
@media (min-width: 1200px){
}


/* lg */
@media (max-width: 992px){
}

/* md */
@media (max-width: 768px){
}

/* SM */
@media (max-width: 576px){
  .titleLogin h1{ font-size: 1.60rem; }
  .bt-login { margin-bottom: 1.0rem;}

  .complainCardDetail .headerData {
    display: flex;
    margin-top: 15px;
  }
  .complainCardDetail .headerData span { margin-right: 10px;}
}