@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800&display=swap');

/* generales ------------------------------*/
body {
  font-family: 'Montserrat', sans-serif;
}

a {
  color: #343a40;
}
img{ max-width: 100%;}

/*mainNav ------------------------------*/
.navbar {
  background: white;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
  border-bottom: 1px solid #dee2e6;
}
.navbar-brand{ padding: 0;}
.navbar-rightSide .fa-search { font-size: 1.4rem; }
.navbar-rightSide .fa-user-circle { font-size: 2.5rem; }
.navbar-rightSide .dropdown-toggle::after{
  display: none;
}
.navbar .avatarUser {
  max-width: 80px;
}

/*home ------------------------------*/
.homeOpenning {
  background: url(https://images.unsplash.com/photo-1543783207-ec64e4d95325?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80) center;
  border-radius: 0;
  background-repeat: no-repeat;
  min-height: 50vh;
  background-size: cover;
}

/* complain card ----------------------------*/
.complainCard .card-header {
  background: white;
}
.complainCard .userData img {
  max-width: 60px;
  border-radius: 60px;
}
.complainCard .tagSubject,
  .complainCard .tagTypeSugestion,
    .complainCard .tagTypeComplain {
      font-size: 13px;
      font-weight: 600;
}
.tagTypeSugestion {
  color: #212529;
  background-color: #ffc107;
  padding: 2px 4px;
}
.tagTypeComplain {
  color: #fff;
  background-color: #dc3545;
  padding: 2px 4px;
}